.contact-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  float: right;
  line-height: 1em;
  padding-right: 25px;
  background-color: rgb(136, 33, 143);
  width: 100vw;
  height: 5vh;
  

  .contact-header-individual {
    margin: 0 5px;
  }
}

header {
  height: 300px;
  width: 100%;
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50PX;

  .logo-header {
    height: 295px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(17, 13, 13);
  }
  .navlinks {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 5px;

    .nav-individual {
      margin: 30px;
      font-size: 1.5rem;
    }
  }

}

  

footer {
  background-color: rgb(88, 45, 45);
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .logo-footer {
    width: 245px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(17, 13, 13);
  }

  .contact-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
  line-height: 1.5;

  h3 {
    font-size: 1.5rem;
  }

  p {
    display: flex;
    color: $text-color;
    margin-top: 50px;
  }
  }
  
  .footer-social {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    

    li {
      margin: 5px 20px;

      a {
        color: $text-color;
      }
    }
  }
}


